<head>
<title>h1</title>
<script language="JavaScript">
function colorchange()
{
head.style.color = "red";
}
function colorback()
{
head.style.color ="black";
}

</script>
</head>
<body>
<h1 id="head" onmouseover="colorchange()" onmouseout="colorback()">Добро пожаловать на нашу
страницу!</h1>
</body>
</html> 